In [ ]:
# -*- coding:utf8 -*
import pandas as pd

In [ ]:
#read 3 data and to pandas DataFrame

pd_2016 = pd.read_csv('./data/external/power_demand2016.csv')
pd_2017 = pd.read_csv('./data/external/power_demand2017.csv')
pd_2018 = pd.read_csv('./data/external/power_demand2018.csv')

In [10]:
import seaborn as sns
sns.tsplot()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DATE</th>
      <th>TIME</th>
      <th>実績(万kW)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016/4/1</td>
      <td>0:00</td>
      <td>2555</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016/4/1</td>
      <td>1:00</td>
      <td>2433</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016/4/1</td>
      <td>2:00</td>
      <td>2393</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016/4/1</td>
      <td>3:00</td>
      <td>2375</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016/4/1</td>
      <td>4:00</td>
      <td>2390</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2016/4/1</td>
      <td>5:00</td>
      <td>2467</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2016/4/1</td>
      <td>6:00</td>
      <td>2631</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2016/4/1</td>
      <td>7:00</td>
      <td>2775</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2016/4/1</td>
      <td>8:00</td>
      <td>2965</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2016/4/1</td>
      <td>9:00</td>
      <td>3159</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2016/4/1</td>
      <td>10:00</td>
      <td>3211</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2016/4/1</td>
      <td>11:00</td>
      <td>3265</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2016/4/1</td>
      <td>12:00</td>
      <td>3160</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2016/4/1</td>
      <td>13:00</td>
      <td>3288</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2016/4/1</td>
      <td>14:00</td>
      <td>3361</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2016/4/1</td>
      <td>15:00</td>
      <td>3362</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2016/4/1</td>
      <td>16:00</td>
      <td>3406</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2016/4/1</td>
      <td>17:00</td>
      <td>3438</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2016/4/1</td>
      <td>18:00</td>
      <td>3501</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2016/4/1</td>
      <td>19:00</td>
      <td>3381</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2016/4/1</td>
      <td>20:00</td>
      <td>3242</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2016/4/1</td>
      <td>21:00</td>
      <td>3084</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2016/4/1</td>
      <td>22:00</td>
      <td>2973</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2016/4/1</td>
      <td>23:00</td>
      <td>2811</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2016/4/2</td>
      <td>0:00</td>
      <td>2613</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2016/4/2</td>
      <td>1:00</td>
      <td>2492</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2016/4/2</td>
      <td>2:00</td>
      <td>2431</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2016/4/2</td>
      <td>3:00</td>
      <td>2403</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2016/4/2</td>
      <td>4:00</td>
      <td>2390</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2016/4/2</td>
      <td>5:00</td>
      <td>2432</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>6570</th>
      <td>2016/12/30</td>
      <td>18:00</td>
      <td>3546</td>
    </tr>
    <tr>
      <th>6571</th>
      <td>2016/12/30</td>
      <td>19:00</td>
      <td>3534</td>
    </tr>
    <tr>
      <th>6572</th>
      <td>2016/12/30</td>
      <td>20:00</td>
      <td>3479</td>
    </tr>
    <tr>
      <th>6573</th>
      <td>2016/12/30</td>
      <td>21:00</td>
      <td>3370</td>
    </tr>
    <tr>
      <th>6574</th>
      <td>2016/12/30</td>
      <td>22:00</td>
      <td>3194</td>
    </tr>
    <tr>
      <th>6575</th>
      <td>2016/12/30</td>
      <td>23:00</td>
      <td>3029</td>
    </tr>
    <tr>
      <th>6576</th>
      <td>2016/12/31</td>
      <td>0:00</td>
      <td>2809</td>
    </tr>
    <tr>
      <th>6577</th>
      <td>2016/12/31</td>
      <td>1:00</td>
      <td>2659</td>
    </tr>
    <tr>
      <th>6578</th>
      <td>2016/12/31</td>
      <td>2:00</td>
      <td>2563</td>
    </tr>
    <tr>
      <th>6579</th>
      <td>2016/12/31</td>
      <td>3:00</td>
      <td>2492</td>
    </tr>
    <tr>
      <th>6580</th>
      <td>2016/12/31</td>
      <td>4:00</td>
      <td>2451</td>
    </tr>
    <tr>
      <th>6581</th>
      <td>2016/12/31</td>
      <td>5:00</td>
      <td>2493</td>
    </tr>
    <tr>
      <th>6582</th>
      <td>2016/12/31</td>
      <td>6:00</td>
      <td>2666</td>
    </tr>
    <tr>
      <th>6583</th>
      <td>2016/12/31</td>
      <td>7:00</td>
      <td>2867</td>
    </tr>
    <tr>
      <th>6584</th>
      <td>2016/12/31</td>
      <td>8:00</td>
      <td>2987</td>
    </tr>
    <tr>
      <th>6585</th>
      <td>2016/12/31</td>
      <td>9:00</td>
      <td>2958</td>
    </tr>
    <tr>
      <th>6586</th>
      <td>2016/12/31</td>
      <td>10:00</td>
      <td>2831</td>
    </tr>
    <tr>
      <th>6587</th>
      <td>2016/12/31</td>
      <td>11:00</td>
      <td>2714</td>
    </tr>
    <tr>
      <th>6588</th>
      <td>2016/12/31</td>
      <td>12:00</td>
      <td>2656</td>
    </tr>
    <tr>
      <th>6589</th>
      <td>2016/12/31</td>
      <td>13:00</td>
      <td>2590</td>
    </tr>
    <tr>
      <th>6590</th>
      <td>2016/12/31</td>
      <td>14:00</td>
      <td>2575</td>
    </tr>
    <tr>
      <th>6591</th>
      <td>2016/12/31</td>
      <td>15:00</td>
      <td>2634</td>
    </tr>
    <tr>
      <th>6592</th>
      <td>2016/12/31</td>
      <td>16:00</td>
      <td>2889</td>
    </tr>
    <tr>
      <th>6593</th>
      <td>2016/12/31</td>
      <td>17:00</td>
      <td>3220</td>
    </tr>
    <tr>
      <th>6594</th>
      <td>2016/12/31</td>
      <td>18:00</td>
      <td>3289</td>
    </tr>
    <tr>
      <th>6595</th>
      <td>2016/12/31</td>
      <td>19:00</td>
      <td>3259</td>
    </tr>
    <tr>
      <th>6596</th>
      <td>2016/12/31</td>
      <td>20:00</td>
      <td>3205</td>
    </tr>
    <tr>
      <th>6597</th>
      <td>2016/12/31</td>
      <td>21:00</td>
      <td>3108</td>
    </tr>
    <tr>
      <th>6598</th>
      <td>2016/12/31</td>
      <td>22:00</td>
      <td>2994</td>
    </tr>
    <tr>
      <th>6599</th>
      <td>2016/12/31</td>
      <td>23:00</td>
      <td>2946</td>
    </tr>
  </tbody>
</table>
<p>6600 rows × 3 columns</p>
</div>